{% extends 'profiles/base.html' %}
{% block css %}
<style>
    .outlinecontainer{
        display: flex;
        
    }
    .normalprofile{
        max-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    position: relative;
   
    background-color: #ececec;
 
    }
    .dpimg{
        width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 100px;
    

    
    position: relative;
    bottom: 6rem;
    }
    .recommendationsection{
        background-color: #efefef;
        width: 26%;
    }
    .dpimgrecommend{
        width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,.25);
    padding: 2px;
    margin-right: 18px;
    margin-left: 11px;
    margin-top: 1px;
    }
    .detailprofile{
        width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;;
    padding: 3rem;
    overflow-y:scroll;
    height: 26rem;
    }
    ::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}

    .backgroundbox{
        width: 100%;
    height: 17rem;
    border: 2px solid white;

    background-image: linear-gradient(45deg, #002b8e, #ff6565);
    display: flex;
    align-items: center;
    justify-content: center;

    }
    .achieve{
        margin: 5px 0px;
    }
    .resultsdiv{
        display: flex;
    }
    .pinformation{
        font-size: 25px;
    }
    .desccontainer{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    }
    .realdesc{
        text-align: center;
    }
    .desctitle{
        font-size: 23px;
        margin-bottom: 0rem;
    }
    .hrsubject{
        color: black;
    height: 2px;
    width: 28rem;
    }
    .checked{
        color: orange;
    }
    .underdpname{
        position: relative;
    bottom: 4rem;
    font-size: 36px;
    }
    .stars{
        position: relative;
    bottom: 3rem;
    width: 11rem;
    font-size: 30px;
    height: 28px;
    }
    h6{
        margin-bottom: 0rem;
    }
    .quote{
        font-size: 4rem;
    color: white;
 
    }
</style>
{% endblock %}
{% block content %}
<div class="backgroundbox">
<h3 class="quote">"{{techinfo.teacherquote}}."</h3>
</div>
<div class="outlinecontainer">
    <div class="normalprofile">
        <img src="/media/{{techinfo.teacherpic}}" class="dpimg" width="100px" height="100px" alt="">
        <h4 class="underdpname">{{techinfo.teachername}}</h4>
        <div class="stars">
            {% for i in n %}
            <span class="fa fa-star checked"></span>
            {% endfor %}
            {% for i in leftrating %}
            <span class="fa fa-star"></span>
            {% endfor %}
    </div>
        <ul style="position: relative;
        bottom: 1rem;
        padding: 0px 4rem;">
        {% for item in techqual %}
            <li class="achieve">{{item}}</li>
            <!-- <li class="achieve">{{item}}</li>
            <li class="achieve">{{item}}</li>
            <li class="achieve">{{item}}</li> -->
        {% endfor %}
        </ul>
    </div>
    <div class="detailprofile">
       
       <p class="pinformation"><b>Name</b> : {{techinfo.teachername}}</p>
       <p class="pinformation"><b>Class</b>  : {{techinfo.teacherclass}}</p>
       <p class="pinformation"><b>Contact</b>  : {{techinfo.teachercontactno}}</p>

       <div class="desccontainer">
       <b class="desctitle">Description about the teacher</b>
       <hr class="hrsubject">
       <p class="realdesc">{{techinfo.teacherDescription}}</p>
    </div>
    </div>
    <div class="recommendationsection">
        <h4>teachers with same rating</h4>
        {% for tech in alltech %}
        <div class="resultsdiv">
            <img src="/media/{{tech.teacherpic}}" alt="" class="dpimgrecommend">
            <div class="resultsdetail">
                <h6>{{tech.teachername}}</h6>
                <div>
                    {% for i in n %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for i in leftrating %}
                    <span class="fa fa-star"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        
       
  
        
        
        
    </div>
</div>
{% endblock %}
