{% extends 'signuplogin/basic.html' %}
{% block css %}
<style>
    body{
        background: url('../../media/bgforloginsignup.jpg') no-repeat center center/cover;
        font-family: 'quicksand';
    }
.main{
  
    /* width: 25%; */
    
    width: 35%;
    margin: auto;
}
#form{
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    margin-top: 3rem;
    background-color: #ffffff;

}
.itemofform{
    margin: 4px 34px;
    /* width: 20rem; */
    padding: 2px 2px;
    width: 80%;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
}
.itemofformforbutton{
    margin: 4px 34px;
    /* width: 20rem; */
    padding: 2px 2px;
    width: 80%;
    border: 1px solid #dbdbdb; 
}
#name{
    margin-top: 9rem;
}
.lowermain{
    width: 35%;
    border: 1px solid #dbdbdb;
    /* margin: auto; */
    padding: 0px 77px;
    padding-top: 10px;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
}
.bttn{
    margin-bottom: 2rem;
    background-color: black;
    color: white;
}
.bttn:hover{
    color: white;
}
#logo{
    font-size: 3rem;
    ;
    position: absolute;
    top: 4rem;
    left: 32rem;
}
#tagline{
    position: absolute;
    top: 8rem;
    width: 16rem;
    left: 33.7rem;
    text-align: center;
 
    color: #b9b9b9;
}


.keys{
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gohome{
    text-decoration: none;
    color: white;
    background-color: black;
    width: 10rem;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
}

</style>
{% endblock %}
{% block body %}
{% if success %}
<div class="container uppermain">
    <div class="main">
        <div id="form" style="    height: 32rem;
        align-items: center;
        justify-content: center;"> 
            <h4 id="logo">SchoolSystem</h4>
            <p id="tagline">Use this platform to manage your students and teachers</p>
            <div class="keys">
          <b>For Teachers:</b>  <p>{{teacherkey}}</p>
          <b>For Students:</b>  <p>{{studentkey}}</p>
        </div>
        <a href="/" id="gohome">Go to home page</a>
        </div>
    </div>
    </div>
{% else %}
<div class="container uppermain">
    <div class="main">
        <form action="/authentications/signup/?signname=school" id="form" method="POST"> {% csrf_token %}
            <h4 id="logo">SchoolSystem</h4>
            <p id="tagline">Use this platform to manage your students and teachers</p>
        
      
            <input type="text" name="name" id="name" class="itemofform" placeholder="schoolname">
            <input type="password" name="password" id="password" class="itemofform" placeholder="password">
            <input type="email" name="emailaddress" id="emailaddress" class="itemofform" placeholder="email">
            <textarea name="schooldescription" id="schooldescription" cols="20" rows="10" class="itemofform" placeholder="Write about your school"></textarea>
            <input type="number" name="phonenumber" id="phonenumber" class="itemofform" placeholder="Phone number">
        <button type="submit" class="btn itemofformforbutton bttn">Sign Up</button>
    </form>
    </div>
    <div class="container lowermain">
    <p>Have an account? <a href="/authentications/login">Login</a></p>
    </div>
    </div>
{% endif %}
{% endblock %}
{% block js %}
<script>

    let alertbutton = document.getElementsByClassName('alertbuttton');
    let logo = document.getElementById('logo');
    let tagline = document.getElementById('tagline');
    Array.from(alertbutton).forEach((e)=>{
        e.addEventListener('click',()=>{
            logo.style.top = '4rem';
            tagline.style.top = '8rem';
        })
    })
</script>
{% endblock %}